// Список глобальных переменных для проекта
// Имена глобальных переменных должны именоваться по определенным правилам: $g-название_группы-тип_настройки-название_настройки: значение;
// В список глобальных переменных попадают только те значения, которые используются на всех страницах или на большенстве.
// Переменные, которые используются только в одном разделе, должны определяться в локальном файле по такому же принципу именования но без $g-

// Цвета
$g-color-blue: #409EFF; // Brand Color

//$g-color-white: #FFFFFF;
//$g-color-light-blue: #D9EEFB;
//$g-color-gray: #909399;

//$g-color-dark: #222D32;
//$g-color-ebony: #303133;
//$g-color-black: #000000;
$g-color-red: #E71E1E;

$g-font-size-base: 1rem;
$g-font-size-base-px: 16px;
$g-font-size-light: ($g-font-size-base * 0.85);
$g-font-size-bigger: ($g-font-size-base * 1.1818);
$g-font-size-big: ($g-font-size-base * 1.47625);

$g-font-family-default: "PT Sans", sans-serif;

// Ширина планшета 1280px
$g-screen-width-tablet: 1280px;


// Функции

// Вычисление доли от общего значения в процентах
@function percent($part, $total) {
  @return $part * 100% / $total;
}

// Миксин для указания типа блока - flex
@mixin g-mixin-display-flex {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

// Миксин для обрезания текст с заменой на точки обрезанного текста
@mixin g-mixin-text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
