
/*
* === COLORS ===
*/
:root {   // light
  // background colors
  --app-background: #FFFFFF;
  --app-background-second: #FFFFFF;
  --app-background-hover: #D9EEFB;
  --app-background-focus: rgba(0, 0, 0, 0.1);

  // text colors
  --app-text-main: #3d3f44;
  --app-text-normal: #6C6E73;
  --app-text-is-owner: rgb(255, 0, 221);

  // Logo colors
  --app-logo-text: #3d3f44;

  //border colors
  --app-border: #D9EEFB;
  --app-border-menu: #e6e6e6;
}

[theme="dark"] {
  // background colors
  --app-background: #222D32;
  --app-background-second: rgba(74,98,110,1);
  --app-background-hover: rgba(0, 0, 0, 0.1);
  --app-background-focus: rgba(0, 0, 0, 0.1);

  // text colors
  --app-text-main: #FFFFFF;
  --app-text-normal: #DCDCDC;
  --app-text-is-owner: rgba(50, 205, 50, 0.5);

  // Logo colors
  --app-logo-text: #DCDCDC;

  //border colors
  --app-border: #3d3f44;
  --app-border-menu: #FFCC33;
}

[theme="sepia"] {
  --app-background-color: #F1E7D0;
}
