/*
* === COLORS ===
*/
:root {
  --app-background-color: #FFFFFF;
  --app-background-color-hover: rgba(255, 255, 255, 0.4);
  --app-background-color-focus: rgba(255, 255, 255, 0.1);
  --dynamic-title-color: #363636;
  --dynamic-subtitle-color: #4a4a4a;
}

[theme="dark"] {
  --app-background-color: #091A28;
  --app-background-color-hover: #1e282c;
  --app-background-color-focus: #09192c;
  --dynamic-title-color: #FFFFFF;
  --dynamic-subtitle-color: cyan;
}

[theme="sepia"] {
  --app-background-color: #F1E7D0;
}
