// App colors
$white: #FFFFFF;
$white-normal: #DCDCDC;
$black-100: rgba(0, 0, 0, 0.1);
$blue: #409EFF;
$blue-100: #D9EEFB;
$dark: #222D32;
$dark-blue: #4a626e;
$grey: #3d3f44;
$grey-normal: #6C6E73;
$grey-100: #e6e6e6;
$red: #F56C6C;
$yellow: #ffcc33;
$green: #32CD32;
$green-500: rgba($green, 0.5);

/*
* === COLOR NAMES IN INTERFACE ===
*/
:root {   // light
  // background colors
  --app-background: $white;
  --app-background-second: $white;
  --app-background-hover: $blue-100;
  --app-background-focus: $black-100;

  // text colors
  --app-text-main: $grey;
  --app-text-normal: $grey-normal;
  --app-text-is-owner: $yellow;

  // Logo colors
  --app-logo-text: $grey;

  //border colors
  --app-border: $blue-100;
  --app-border-menu: $grey-100;
}

[theme="dark"] {
  // background colors
  --app-background: $dark;
  --app-background-second: $dark-blue;
  --app-background-hover: $black-100;
  --app-background-focus: $black-100;

  // text colors
  --app-text-main: $white;
  --app-text-normal: $white-normal;
  --app-text-is-owner: $green-500;

  // Logo colors
  --app-logo-text: $white-normal;

  //border colors
  --app-border: $grey;
  --app-border-menu: $yellow;
}

[theme="sepia"] {
  --app-background-color: $white-normal;
}
